<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<img src="http://lorempixel.com/1840/500/food/" class="img-responsive" alt="Responsive image">
	<!--
		<div class="row">
			<p class="lead">
				This page is on public/modules/core/views/home.client.view.html
			</p>
		</div>
	-->
	</div>
	<div class="row">
		<h2>Trending</h2>
		<div class="col-sm-3">
			<img src="http://lorempixel.com/420/340/food/1/" class="img-responsive" alt="Responsive image">
			<p class="food-title">Lorem ipsum dolor</p>
		</div>
		<div class="col-sm-3">
			<img src="http://lorempixel.com/420/340/food/2/" class="img-responsive" alt="Responsive image">
			<p class="food-title">Lorem ipsum dolor</p>
		</div>
		<div class="col-sm-3">
			<img src="http://lorempixel.com/420/340/food/3/" class="img-responsive" alt="Responsive image">
			<p class="food-title">Lorem ipsum dolor</p>
		</div>
		<div class="col-sm-3">
			<img src="http://lorempixel.com/420/340/food/4/" class="img-responsive" alt="Responsive image">
			<p class="food-title">Lorem ipsum dolor</p>
		</div>
	</div>
	<div class="row">
		<h2>Latest</h2>
		<div class="col-sm-3"><img src="http://lorempixel.com/420/340/food/1/" class="img-responsive" alt="Responsive image"></div>
		<div class="col-sm-3"><img src="http://lorempixel.com/420/340/food/2/" class="img-responsive" alt="Responsive image"></div>
		<div class="col-sm-3"><img src="http://lorempixel.com/420/340/food/3/" class="img-responsive" alt="Responsive image"></div>
		<div class="col-sm-3"><img src="http://lorempixel.com/420/340/food/4/" class="img-responsive" alt="Responsive image"></div>
	</div>
	<footer>
		<h3>This is the footer</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</footer>
</section>
