<section data-ng-controller="HomeController" data-ng-init="find()">
	<div class="jumbotron text-center">
		<img class="img-responsive"  />
		<h1 class="jumbo">Open Source Recipes <span>For the Hungry</span></h1>
	</div>
	<div class="section">
		<div class="row padding-Body">
			<h2>Trending</h2>
			<a data-ng-repeat="recipe in recipes | orderBy:'-score' | limitTo: 3" data-ng-href="#!/recipes/{{recipe._id}}">
				<div class="col-sm-4">
						<img src="{{recipe.image}}" class="img-responsive" alt="Responsive image">
						<p class="food-title">{{recipe.name}}</p>
						<span class="badge">{{recipe.score}}</span>
				</div>
			</a>
		</div>
		<div class="row padding-Body">
			<h2>L<span class="letter-space">atest</span></h2>
			<hr>
			<a data-ng-repeat="recipe in recipes | orderBy:'-created' | limitTo: 3" data-ng-href="#!/recipes/{{recipe._id}}">
			<div class="col-sm-4">
				<img src="{{recipe.image}}" class="img-responsive" alt="Responsive image">
				<p class="food-title">{{recipe.name}}</p>
				<span class="badge">{{recipe.score}}</span>
			</div>
		</div>
	</div>
</section>
