/* Colors ////
/ Red: D45C46
/ Blue: B1E2D0
/ Goldish: F7E366
/ Tan: F9CE80
/ Off white: FCF0E3
////////////*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	overflow-x: hidden;
	background-color: #FCF0E3;
}

p, body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	letter-spacing: 0.5px;
}

h1, h2, h3, h4{
	font-family: 'Novecento Wide Medium', sans-serif;
	text-transform: uppercase;

}

span.letter-space{
	display: inline;
	margin-left: 2px;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
 
.jumbotron {
	padding-bottom: 0px; 
	margin: -50px -20vw 25px -20vw;
}

.food-title {
	background: rgba(247,227,102,.8);
	position: relative;
	top: -41px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;

}

footer {
	height: auto;
	width: 100vw;
	background-color: #B1E2D0;
	margin-top: 30px;
	padding: 40px;
}