/* Colors ////
/ Red: D45C46
/ Blue: 97E2D0
/ Goldish: F7E366
/ Tan: F9CE80
/ Off white: FCEEDD
////////////*/
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
	overflow-x: hidden;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.3px;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
 
.jumbotron {
	margin: -50px -20vw 10px -20vw;
}

.food-title {
	background: rgba(247,227,102,.8);
	position: relative;
	top: -43px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;

}

footer {

}