
@font-face {
    font-family: 'Novecento Wide';
    src: url('novecentosanswide-normal-webfont.eot');
    src: url('novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentosanswide-normal-webfont.woff2') format('woff2'),
         url('novecentosanswide-normal-webfont.woff') format('woff'),
         url('novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Novecento Wide Medium';
    src: url('novecentosanswide-medium-webfont.eot');
    src: url('novecentosanswide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('novecentosanswide-medium-webfont.woff2') format('woff2'),
         url('novecentosanswide-medium-webfont.woff') format('woff'),
         url('novecentosanswide-medium-webfont.ttf') format('truetype'),
         url('novecentosanswide-medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}