<section data-ng-controller="RecipesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="recipe.name"></h1>
		<p>by <span data-ng-bind="recipe.user.displayName"></span></p>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == recipe.user._id))">
		<a class="btn btn-success" href="/#!/recipes/{{recipe._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-success" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>

		<div class="page-body">
			<div class="image-in-recipe">
				<image ng-src="{{recipe.image}}" style="width: 800px;" class="img-responsive"/>
				<h4 class="text-center" ng-hide="isLiked && authentication.user._id">Vote on This Recipe!</h4>
				<div class="row voting">
					<a href="#"><img class="thumb" ng-click="likeThis()" id="btn-like" data-id="{{ recipe.uniqueId }}" ng-hide="isLiked && authentication.user._id" src="modules/core/img/brand/thumbup.svg"></a>
					<a href="#"><img class="thumb-down" ng-click="dislikeThis()" id="btn-like" data-id="{{ recipe.uniqueId }}" ng-hide="isLiked && authentication.user._id" src="modules/core/img/brand/thumbdown.svg"></a>
				</div>
			</div>
			
			<p class="form-no-wrap text-right-fix" data-ng-bind="recipe.content"></p>
			<em>
			Added on
				<span data-ng-bind="recipe.created | date:'mediumDate'"></span>
			by
				<span data-ng-bind="recipe.user.displayName"></span>
			</em>
		</div>
		<div class="clearfix"></div>

			<div>
				<h3 class="score">
				Score: <span data-ng-bind="recipe.score"> </span> <i class="fa fa-heart"></i>
				</h3>
			</div>
			<section data-ng-controller="CommentsController" data-ng-init="find()">

			<h3>Comments</h3>
			<div class="comments-bottom">
				<form name="commentForm" data-ng-submit="create()" data-ng-init="{{recipeId=recipe._id}}">
					<input type="text" data-ng-model="commentbody"/>
					<input type="submit" />
				</form>
			</div>
		
				<div class="list-group" data-ng-repeat="comment in comments" data-ng-show="{{comment.recipe===recipeId}}" >
					<h5 class="list-group-item-heading" data-ng-bind="comment.commentbody"></h5>
					
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="comment.created"></span>
						by
						<span data-ng-bind="comment.user.displayName"></span>
						<div class="pull-right" data-ng-show="authentication.user._id == comment.user._id" data-ng-init={{}}>
							<a href="/#!/comments/{{comment._id}}/edit">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<a data-ng-click="remove();">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</div>
					</small>					
				</div>
			</section>
		</div>
	</div>
</section>
