<section data-ng-controller="RecipesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="recipe.name"></h1>
		<p>by <span data-ng-bind="recipe.user.displayName"></span></p>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == recipe.user._id))">
		<a class="btn btn-success" href="/#!/recipes/{{recipe._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-success" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>

		<div>
			<h2>
				Score: <span data-ng-bind="recipe.score"></span>
				<button class="btn btn-success" ng-click="likeThis()" id="btn-like" data-id="{{ recipe.uniqueId }}" ng-hide="isLiked && authentication.user._id"><i class="fa fa-heart">Good</i></button>
				<button class="btn btn-danger" ng-click="dislikeThis()" id="btn-like" data-id="{{ recipe.uniqueId }}" ng-hide="isLiked && authentication.user._id"><i class="fa fa-heart">Bad</i></button>
			</h2>
		</div>
		<div class="page-body" style="padding-bottom:400px;">
			<div class="image-in-recipe">
				<image ng-src="{{recipe.image}}" class="img-responsive"/>
				<p>
					Added on
						<span data-ng-bind="recipe.created | date:'mediumDate'"></span>
					by
						<span data-ng-bind="recipe.user.displayName"></span>
				</p>
			</div>
			
			<p data-ng-bind="recipe.content"></p>
			<p>
			Added on
				<span data-ng-bind="recipe.created | date:'mediumDate'"></span>
			by
				<span data-ng-bind="recipe.user.displayName"></span>
			</p>
		</div>

		<div class="all-comments" data-ng-controller="CommentsController">
			<h2>Comments</h2>
			<div class="single-comments" data-ng-repeat="comment in comments">
				<div class="col-sm-3  col-md-offset-1">
					<img src="http://www.placecage.com/gif/75/75" alt="Avatar">
					<h4>Firstname Lastname</h4>
				</div>
				<div class="col-md-7">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
